  <!-- Sidebar -->
    <div class="bg-light border-end" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom bg-primary text-white text-center py-3">
        Exam
      </div>
      <div class="list-group list-group-flush">
        <a routerLink="/home" class="list-group-item list-group-item-action bg-light">Dashboard</a>
        <a routerLink="/newsubject" class="list-group-item list-group-item-action bg-light">Add Subject</a>
        <a routerLink="/newtopic" class="list-group-item list-group-item-action bg-light">Add Topic</a>
        <a routerLink="/newquestion" class="list-group-item list-group-item-action bg-light">Add Question</a>
        
        <a routerLink="/newexam" class="list-group-item list-group-item-action bg-light">Add Exam</a>
        
        <a href="#" class="list-group-item list-group-item-action bg-light">Logout</a>
      </div>
    </div>