<div class="d-flex" id="wrapper">

    <app-admin-sidebar></app-admin-sidebar>
  
    <!-- Page Content -->
    <div id="page-content-wrapper" class="w-100">
      <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom px-3">
        <span class="navbar-brand mb-0 h1">Welcome</span>
      </nav>
  
      


      <div class="container-fluid mt-4">
        <h1 class="mt-4">New Topic</h1>

          <form [formGroup]="topicForm" (ngSubmit)="saveTopic()">

              SubjectName : <select formControlName="subject">
                              <option *ngFor="let s of allSubjects" value="{{s._id}}">{{s.subjectName}}</option>
                            </select>
<br><br>
              TopicName : <input type="text" formControlName="topicName"/>

              <br><br>
              <input type="submit" value="Save Subject"/>
          </form>
        
      </div>


    </div>
  </div>
  