<form [formGroup]="signupForm" (ngSubmit)="signup()">
    FirstName : <input type="text"  formControlName="firstName"/>
     
    <span *ngIf="signupForm.controls.firstName.touched && signupForm.controls.firstName.hasError('required')">Please Enter FirstName</span>
    <Br><br>
    Email : <input type="text"  formControlName="email" />
    
    <span *ngIf="signupForm.controls.email.touched && signupForm.controls.email.hasError('required')">Please Enter Email</span>
    
    <br><br>
    Password : <input type="password" formControlName="password" />
    <Br><br>
    <input type="submit" value="Signup"  [disabled]="!signupForm.valid" />
            
    <br><br>
    <a routerLink="/login">Existing User?</a>

</form>