<p>list-subject works!</p>

<div class="container-fluid">

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let s of data">
                <td>{{s._id}}</td>
                <td>{{s.subjectName}}</td>
                <td> <button (click)="deleteSubject(s._id)">Delete</button></td>
            </tr>
        </tbody>

    </table>
</div>